(
    items: {
        "battery": "battery",
    },
    groups: {
        "batteries": ["battery"],
    },
    enemies: {
        "chess": (
            billboard: "chess",
            ai: Chess,
        ),
    },
    levels: [
        "lab",
    ],
)
